<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Document</title>
		<script src="../js/vue.js"></script>
		<script src="../js/vue-resource.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
		<link rel="stylesheet" type="text/css" href="../css/main.css">
		<!--加载meta IE兼容文件-->
		<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
	</head>

	<body>
		<div id="app">
			<div class="header">
				<div class="menu-btn">
					<div class="menu"></div>
				</div>
				<h1 class="logo">
      <a href="index.html">
        <span>MYBLOG</span>
        <img src="../img/logo.png">
      </a>
    </h1>
				<div class="nav">
					<a href="index.html">文章</a>
					<a href="leacots.html" class="active">留言</a>
					<a href="album.html">相册</a>
					<a href="about.html">关于</a>
				</div>
				<ul class="layui-nav header-down-nav">
					<li class="layui-nav-item">
						<a href="index.html">文章</a>
					</li>
					<li class="layui-nav-item">
						<a href="leacots.html" class="active">留言</a>
					</li>
					<li class="layui-nav-item">
						<a href="album.html">相册</a>
					</li>
					<li class="layui-nav-item">
						<a href="about.html">关于</a>
					</li>
				</ul>
				<p class="welcome-text">
					欢迎来到<span class="name">决赛圈</span>的博客~
				</p>
			</div>

			<div class="content whisper-content leacots-content">
				<div class="cont w1000">
					<div class="whisper-list">
						<div class="item-box">
							<div class="review-version">
								<div class="form-box">
									<img class="banner-img" src="../img/liuyan.jpg">
									<div class="form">
										<form class="layui-form">
											<div class="layui-form-item layui-form-text">
												<label class="layui-form-label layui-icon">&#xe60c;</label><input placeholder="阁下尊姓大名" v-model="guestName" class="layui-input layui-input-inline" />
												<label class="layui-form-label layui-icon">&#xe68e;</label><input placeholder="留下您的邮箱" v-model="guestEmail" class="layui-input layui-input-inline" />
												<span class="layui-text" style="color: red;">{{errmsg}}</span>
											</div>
											<div class="layui-form-item layui-form-text">
												<div class="layui-input-block">
													<textarea name="desc" v-model="guestMessages" placeholder="既然来了，就说几句" class="layui-textarea"></textarea>
												</div>
											</div>
											<div class="layui-form-item">
												<div class="layui-input-block" style="text-align: right;">
													<button type="button" @click="addMessage()" class="layui-btn definite">確定</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="volume">
									全部留言 <span>{{messageData.total}}</span>
								</div>
								<div class="list-cont">
									<div v-for="message in messageData.list" class="cont">
										<div class="img">
											<img src="../img/header.png" alt="">
										</div>
										<div class="text">
											<p class="tit"><span class="name">{{message.name}}</span><span class="data">{{message.createTime}}</span></p>
											<p class="ct">{{message.content}}<span class="data">#{{message.id}}楼</span></p>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<div id="demo" style="text-align: center;"></div>
				</div>
			</div>
			<div class="footer-wrap">
				<div class="footer w1000">
					<div class="qrcode">
						<img src="../img/erweima.jpg">
					</div>
					<div class="practice-mode">
						<img src="../img/down_img.jpg">
						
						<div class="text">
							<h4 class="title">我的联系方式</h4>
							<p>微信<span class="WeChat">13733439977</span></p>
							<p>邮箱<span class="email">931634226@qq.com</span></p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script type="text/javascript" src="../layui/layui.js"></script>
		<script type="text/javascript">
			layui.use(['element', 'form'], function() {
				element = layui.element, form = layui.form;
			})
			var localhost = "http://localhost:8080";
			var app = new Vue({
				el: '#app',
				data: {
					messageData: [],
					guestName: "",
					guestEmail: "",
					guestMessages: "",
					errmsg: ""
				},
				methods: {

					getMessageData: function(n) {
						var _this = this;
						Vue.http.get(localhost + '/message/list', {
							params: {
								'pageSize': 5,
								'pageNum': n
							}
						}).then(function(res) {
							console.log(res.body.data);
							_this.messageData = res.body.data;
							if(res.body.data.pageNum == 1) {
								_this.loadPage();
							}
						});
					},
					addMessage: function() {
						var _this = this;
						if(this.checkValid()) {
							Vue.http.post(localhost + '/message/add', {
								'name': _this.guestName,
								'email': _this.guestEmail,
								'content': _this.guestMessages,
								'parentId': 0
							}, {
								emulateJSON: true
							}).then(function(res) {
								_this.guestName = "";
								_this.guestEmail = "";
								_this.guestMessages = "";
								console.log(res);
								_this.getMessageData();
							});
						}
					},
					checkMail: function(mail) {
						var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
						if(filter.test(mail))
							return true;
						else
							return false;
					},
					checkValid: function() {
						if(this.guestName == "") {
							this.errmsg = "请输入你的姓名";
							return false;
						} else if(!this.checkMail(this.guestEmail)) {
							this.errmsg = "请检查你的邮箱格式";
							return false;
						} else if(this.guestMessages == "") {
							this.errmsg = "留言不能为空";
							return false;
						} else {
							this.errmsg = "";
							return true;
						}
					},
					loadPage: function() {
						var _this = this;
						layui.use('laypage', function() {
							layui.laypage.render({
								elem: 'demo',
								count: _this.messageData.pages * 10,
								jump: function(obj, first) {
									//首次不执行
									if(!first) {
										_this.getMessageData(obj.curr);
									}
								}
							});
						})
					}
				}
			})
			//			console.log(sessionStorage.getItem("detailId"));
			app.getMessageData(1);
		</script>
	</body>

</html>